<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}


     <form action="/register" method="POST" >


    <input type="text" placeholder="First name" name="firstname" value="" >
    <input type="email" placeholder="Email" name="email" value="" >
    <input type="number" placeholder="Number" name="phnumber" value="" >
`   <input type="password" placeholder="Password" name="password" value="">
`   <input type="password" placeholder="confirm Password" name="confirmpassword" value="">
    <input type="submit" value="register">





    </form>
</body>
</html>